*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: GilRoy;
}
h1 ,h4,p,a{
  color: white;
  text-decoration: none;
}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248,217,15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}
.btn-light{
  background: transparent;
  color: #fff;
}
.btn:hover{
  background: rgba(255,255,255,0.2);
  color: #fff;
  transition: 0.3s;
}